<ion-view view-title="DataDeepCore">
  <ion-content>
    <div>
      <label class="item item-input">
        <input type="text" placeholder="WKT Polygon" ng-model="data.wkt">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="getLaccore()">
      Pull LacCore Data & GeoDeepDive Papers from PIs
    </button>

    <div style="width: 100%;" ng-if="isLacReturned" class="selectable">
      <div class="row selectable item-text-wrap" ng-repeat="data in laccoredata" style="border-top: 1px solid; padding-bottom:10px;">
        <div class="col col-33">
          <div>{{$index+1}}</div>
          <div class="selectable"><strong>PI:</strong>{{data.pi}}</div>
          <div><strong>Sample:</strong> {{data.sample}}</div>
          <div><strong>Lake Name:</strong> {{data.lake}}</div>
          <div><strong>Core Length:</strong> {{data.coreLength}}</div>
        </div>

        <div class="col col-67" style="border: 1px solid padding-bottom: 10px;">
          <div ng-repeat="gdd in data.GDD" class="gdd" style="border-bottom: 1px solid">
            <div><strong>Publication Title:</strong> {{gdd.title}}</div>
            <div><strong>URL:</strong> <a ng-href="{{gdd.URL}}">{{gdd.URL}}</a></div>
            <div><strong>Source:</strong> {{gdd.source}}</div>
            <div><strong>Publication Name:</strong> {{gdd.pubname}}</div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
