<ion-view view-title="DataDeepSearch">
   <ion-content>
     <button class="button button-block button-royal" ng-click="getLaccore()">
         Pull Macrostrat Data
     </button>

     <div style="width: 100%; height: 400px; overflow: scroll;" ng-if="isLacReturned">
     	<div class="row" ng-repeat="data in laccoredata" style="border-bottom:1px solid; padding-bottom:10px;">
     		<div class="col col-50">
	     		<div><stong>PI: </stong>{{data.pi}}</div>
	     		<div><stong>Sample: </stong>{{data.sample}}</div>
	     		<div><stong>Lake: </stong>{{data.lake}}</div>
	     		<div><stong>Core Length: </stong>{{data.coreLength}}</div>
     		</div>

     		<div class="col col-50" style="border-left:1px solid;">
	     		<div ng-repeat="gdd in data.GDD">
	     			<div><a ng-href="{{gdd.URL}}">{{gdd.URL}}</a></div>
	     			<div>{{gdd.source}}</div>
	     			<div>{{gdd.pubname}}</div>
	     		</div>
     		</div>
     	</div>
     </div>

   </ion-content>
</ion-view>
