/* Empty. Add your own CSS if you like */

.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.scroll {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

strong {
  color: #3d81f2;
}

.gdd strong {
  color: #886ee7;
}
